/*For title*/
@import url('https://fonts.googleapis.com/css?family=Pacifico'); 
/*For subtitle*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*overall app*/

.homepage {
  height: 100vh;
  padding: 50px;
  background-image: url("../img/pasta-flip-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  align-items: center;
}

/*hompage text*/
.text{
 margin-left: 5%;
}

.title{
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #333333;
  
}

.light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light*/
  color: black;
}

h2{
  align-content: center;
  padding: 8px;
  margin: 0px;
}

h2.light{
  font-size: 0.9em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search{
  display: inline;
}

#searchbar {
  background: transparent;
  border: none;
  width: 2rem;
}

.fa-map-marker {
  font-size: 3rem;
  padding-right: 10px;
}

.search-form, .location-pointer {
    display: inline-block;
    color: black;
}

.placeholder {
  font-size: 1.7rem;
}

.button{
  border:.75px solid black;
  /*padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  display: inline-block;*/
}

.button:hover{
  background-color: black;
  color: white;
}


.fa.location-pointer {
  font-size: 30px;
}
/* Michael's CSS rules */
.size1000 {
  width: 500px;
  height: 500px;
  padding: 5px;
}
.size900 {
  width: 300px;
  height: 300px;
  padding: 5px;
}
.size450 {
  width: 150px;
  height: 150px;
  padding: 5px;
}
.location-pointer {
  padding-right: 20px;
  cursor: pointer;
  cursor: hand;
}
.clickable {
  color: blue;
  text-align: center;
  margin: auto;
}


.location-pointer:hover {
  color: green;
  transition: color 0.3s ease;
}
.change-cursor-to-pointer-on-hover {
  cursor: pointer;
  cursor: hand;
}
.dropdown-result {
  padding: 4px;
}
.highlight-on-hover:hover {
  background-color: rgb(0, 115, 187);
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown-content {
  font-family: arial;
  font-size: 14px;
  display: block;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.dropdown .dropdown-content {
    display: block;
}
.error-message {
  color: red;
  font-family: arial;
  font-size: 10pt;
  text-align: left;
}

.go-button, .back-button {
  border-radius: 3px;
}
.black-text {
  color: black;
  display: block;
  opacity: 1;
}

/* end of michael's css rules */

.go-button {
  margin-left: 1vw;
  text-align: center;
}

.view-more {
  text-align: center;
}

.butt-web {
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hours-table {
  margin-bottom: 10px;
}
/* search results grid css*/

/*flex container*/
.search-grid {
  position: absolute;
  top: 100px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
}

/* flex child*/
.search-image {
  width: 240px;
  height: 240px;
  flex-grow: 1;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.19);

}

.search-square {
  margin: 20px 20px;
  position: relative;
  -webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
  filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
}

.image-filter {
  -webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
  filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
}

.overlay {
  padding: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.search-square:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light*/
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* messing around with navigation top*/
.navigation {
  padding: 10px;
  /*padding-bottom: 20px;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
}
.logo-navigation {
  margin-top: 30px;
  margin-left: 50px;
}

.search-navigation {
  margin-left: 30vw;
  margin-top: -30px;
}

/*modal*/
.modal{
  width: 80vw;
  height: auto;
}

.photo{
  display: inline-block;
}

.info{
  display: inline-block;
  align-content: center;
  text-align: center;
}

.modal-heading{
  font-size: 2.7rem;
  padding-top: 0px;
}

.butt{
   /*display: block;*/
   text-align: center;
display: inline-block;
margin: 20px;
}

.wrapper{
  margin: 0 auto;
}

.links{
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.contact{
  padding: 10px;
}


button.exit{
  margin-left: 97%;
  border: 0px transparent;
  background-color: transparent;
}

.photo, .info{
  display: inline;
}

.photo{
  float: left;
  margin: 20px;
}

.current-results {
  margin-left: 45vw;
  margin-top: -75px;
  text-align: center;
  font-size: 16px;
  width: 200px;
}

.mdl-button--fab.mdl-button--colored{
  background-color: black;
}

.fa-angle-up {
  color: white;
}

.mdl-button--fab.mdl-button--colored:hover {
  background-color: green;
}

/* RESTAURANT */

.restaurant-view {
  margin-top: 100px;
  padding-left: 5vw;
}

.restaurant-pic {
  margin-bottom: 5px;
}


.image-filter {
  padding: 5px;
}


.rating {
  margin-top: 10px;
  font-size: 28px;

}

.review {
  margin-left: 5px;
  font-size: 14px;
  margin-top: 10px;
  color: #b7b7b7;
}

.address {
  float: left;
}
.map {
  margin-top: 20px;
  width: 100%;
}

/* Foursquare website */
/*
.fsite {
  margin-top: 30px;
}

/* Restaurant website */
/*
.rsite {
  margin-top: 30px;
}
.hours {
  /*position: absolute;
  margin-bottom: 50px;
}
*/

/* leanne's restaurant view rules */
.left-pics {
  float: left;
  margin-right: 10px;;
}

.right-information {
  display: inline-block;
  padding-left: 20px;
}

.restaurant-title {
  font-size: 25pt;
}

.foursquare-logo{
  background-image: url('../img/foursquare-logo.jpg');
  width: 100%;
  height: auto;
}

/*All things clickable*/
.clickable{
  cursor: pointer;
  font-weight: bold;
}






/* More michael's css rules */
.exit {
  font-size: 24pt;
  margin-left: -20px;
}
.exit:hover, .clickable:hover {
  color:crimson;
}
.mdl-dialog__content {
  z-index: 2;
}
.zindexone {
  z-index: 1;
}
.zindextwo {
  z-index: 2;
}
.black {
  color: black;
  font-size: 24pt;
}
.black:hover {
  cursor: pointer;
  color: crimson;
}
.fourSquare-logo {
  width: 44px;
  height: 44px;
  background-image: url("../img/foursquare-logo.png");
  background-size: 44px 44px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.fourSquare-logo:hover {
  background-image: url("../img/foursquare-logo-blue.png");
}

/*phone*/
@media screen and (max-width: 600px){
  .map iframe {
    max-width: 50vw;
  }
  .right-information {
    padding-left: 10px;
  }
  .search-navigation {
    width: 100%;
    margin-left: 10vw;
    display: block;
  }
  .disappears-in-mobile {
    display: none;
  }
  .search-grid {
    top: 150px;
  }
  .homepage {
    background-image: url("../img/pasta-mobile.png");
    align-items: initial;
  }

  .title{
    font-size: 12vw;
    margin-bottom: 0px;
  }

  h2.light{
    font-size:6vw;
  }

  .text{
    width: 85%;
    margin-left: 0px;
    margin: 0 auto;
  }

  .search-form {
    width: 100%;
    margin: 0 auto;
  }

  /*.location-pointer {
    font-size: 6vw;
  }*/

  .placeholder{
    font-size: 4vw;
  }
/*
.search-form, .location-pointer {
    display: inline-block;
    width: 100%''    
}*/

  form{
    display: inline-block;
    width: 50vw;
  }
} 

.phone, .hours {
 float: left;
 margin-right: 20px;
 margin-bottom: 20px;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 border: 1px solid lightgrey;
 border-radius: 3px;
}


/* end */