/*For title*/
@import url('https://fonts.googleapis.com/css?family=Pacifico'); 
/*For subtitle*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*overall app*/

.homepage {
  height: 100vh;
  padding: 50px;
  background-image: url("../img/pasta-flip-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  align-items: center; 
}

/*hompage text*/
.text{
 margin-left: 5%;
}

.title{
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #333333;
  
}

.light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light*/
  color: black;
}

h2{
  align-content: center;
  padding: 8px;
  margin: 0px;
}

h2.light{
  font-size: 0.9em;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search{
  display: inline;
}

#searchbar {
  background: transparent;
  border: none;
  width: 2rem;
}

.fa-map-marker {
  font-size: 3rem;
  padding-right: 10px;
}

.search-form, .location-pointer {
    display: inline-block;
    color: black;
}

.placeholder {
  font-size: 1.7rem;
}

.button{
  border:.75px solid black;
  /*padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  display: inline-block;*/
}

.button:hover{
  background-color: black;
  color: white;
}

/*phone*/
@media screen and (max-width: 600px){
  .homepage {
    background-image: url("../img/pasta-mobile.png");
    align-items: initial;
  }

  .title{
    font-size: 12vw;
    margin-bottom: 0px;
  }

  h2.light{
    font-size:6vw;
  }

  .text{
    width: 85%;
    margin-left: 0px;
    margin: 0 auto;
  }

  .search-form {
    width: 75%;
    margin: 0 auto;
  }

  .location-pointer {
    font-size: 6vw;
  }

  .placeholder{
    font-size: 4vw;
  }
  /*
  .search-form, .location-pointer {
      display: inline-block;
      width: 100%''    
  }*/
/*
.search-form, .location-pointer {
    display: inline-block;
    width: 100%''    
}*/

  form{
    display: inline-block;
    width: 50vw;
  }


/* Michael's CSS rules */
.location-pointer {
  cursor: pointer;
  cursor: hand;
}
.change-cursor-to-pointer-on-hover {
  cursor: pointer;
  cursor: hand;
}
.dropdown-result {
  padding: 4px;
}
.highlight-on-hover:hover {
  background-color: rgb(0, 115, 187);
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown-content {
  font-family: arial;
  font-size: 14px;
  display: block;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.dropdown .dropdown-content {
    display: block;
}
.error-message {
  color: red;
  font-family: arial;
  font-size: 10pt;
  text-align: left;
}

.go-button {
  border-radius: 5px;
}
/* end of michael's css rules */



/* search results grid css*/

/*flex container*/
.search-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-around;
}

/* flex child*/
.search-image {
  margin: 20px 20px;
  width: 240px;
  height: 240px;
  flex-grow: 1;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.19);

}

.search-square {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.search-square:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Roboto Light*/
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* messing around with navigation top*/
.navigation {
}
.logo-navigation {
  margin-top: 30px;
  margin-left: 50px;
}


.search-navigation {
  margin-left: 35vw;
  margin-top: -30px;
}
